@media screen and (max-width:1186px) {
    nav {
        .iees-container {
            width: 90%;

            .iees-list {
                li {
                    a {
                        font-size: 11px;
                    }

                    .home-list {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}






@media screen and (max-width:991px) {


    #hero-section {
        .hero-content {
            .text {
                h1 {
                    font-size: 68px;
                }

                p {
                    font-size: 30px;
                }
            }
        }
    }

    footer {
        .ieesLogo {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .email-adress {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .connect {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .address {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .social-media {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (max-width:500px) {

    
    #hero-section {
        .hero-content {
            .text {
                h1 {
                    font-size: 45px;
                }

                p {
                    font-size: 26px;
                }
            }
        }
    }
    footer {
        .connect {
            p {
                font-size: 17px;
            }
        }

        .address {
            h4 {
                font-size: 17px;
            }
        }

        .social-media {
            h4 {
                font-size: 17px;
            }

            .social-media-icon {
                i {
                    font-size: 18px;
                    width: 35px;
                    height: 35px;
                }
            }

        }

        .company {
            p {
                font-size: 15px;
            }
        }
    }
}